body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0px auto;
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
h1 {
    text-align: center;
    color: #dddddd;
}
.saab-info {
    background-color: #2a2a2a;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.5;
    }

   p{
    color: white;
    display:flex;
    margin-top: 0;
}
.saab-info a{
    color: #dddddd;
    }